@media (min-width: 992px) {
  .navbar .dropdown-menu {
    display: none;
  }
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}
#pesoUnidad {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.gc_unset_header_footer [class^=gc-title-],
.gc_unset_header_footer [class^=gc-footer-],
.gc_unset_header_footer [class^=gc-datagrid-tools-] {
  display: none;
}

.gc_unset_header [class^=gc-title-],
.gc_unset_header [class^=gc-datagrid-tools-] {
  display: none;
}

@font-face {
  font-family: "MarkPro-Bold";
  src: url("./src/fonts/MarkPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "effra";
  src: url("./src/fonts/effra-regular.ttf") format("truetype");
}
@font-face {
  font-family: "MarkPro-Light";
  src: url("./src/fonts/MarkPro-Ligth.ttf") format("truetype");
}
